*.pyc
local_settings.py
db.sqlite3
.python-version
.DS_Store
media/
npm-debug.log
static/react/
*.rdb

# Generated static files
staticfiles/

dev.sh
dev.celery.sh

# Generated static files
staticfiles/

# Ignore IntellIJ Idea config files.
.idea

# ignore env settings
.env

# frontend
frontend/node_modules/
frontend/coverage
frontend/build
frontend/stats.json
frontend/internals/generators/
frontend/internals/templates/
frontend/npm-debug.log
frontend/yarn-error.log
